<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tbocek.android.combatmap"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="11" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:hardwareAccelerated="true" android:largeHeap="true">
        <activity android:name="com.tbocek.android.combatmap.CombatMap"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="com.tbocek.android.combatmap.Settings"
				  android:label="Settings"></activity>
		<activity android:name="com.tbocek.android.combatmap.Load"
				  android:label="Load"></activity>
		<activity android:name="com.tbocek.android.combatmap.ArtCredits"
                  android:label="Art Credits"></activity>
		<activity android:name="com.tbocek.android.combatmap.tokenmanager.TokenCreator"
				  android:label="Token Creator"
				  android:hardwareAccelerated="false"></activity>
        <activity android:name=".tokenmanager.TokenManager"
				  android:label="Token Creator"></activity>
    </application>
</manifest>